@page "/"

<PageTitle>Home</PageTitle>

<h1>DCC060 – Trabalho Prático</h1>
<h3>Alunos: Gabriel Tavares e Victoria Tiemi F. Yamashita.</h3>

<p>Este projeto visa o desenvolvimento de um Sistema de Gestão Hospitalar (SGH) para otimizar e automatizar processos clínicos e administrativos em hospitais e clínicas.</p>
