@page "/weather"
@using Dapper
@using MySqlConnector
@attribute [StreamRendering]

<PageTitle>Teste</PageTitle>

<h1>Teste</h1>

<p>This component demonstrates showing data.</p>

@if (Testes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Testes)
            {
                <tr>
                    <td>@test.Id</td>
                    <td>@test.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] public MySqlConnection Connection { get; set; }

    private List<Teste>? Testes;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);


        await Connection.OpenAsync();
        string sql = "SELECT Id, Nome FROM teste";
        Testes = (await Connection.QueryAsync<Teste>(sql)).ToList();
    }

    private class Teste
    {
        public int Id { get; set; }
        public string? Nome { get; set; }
    }
}
